name: Hello
on:
  push:
    paths:
      - '.github/workflows/hello.yml' # .github/workflows/hello.ymlを修正された時だけ実行


jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World"
      - uses: actions/checkout@v4
